<!DOCTYPE html>
{% load static %}
<html lang="en" data-mdb-theme="dark" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abdullah Ibrahim</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"
     />
     <link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.min.css"
  rel="stylesheet"
/>
</head>
<body>
   
    <nav class="navbar navbar-light bg-body-tertiary">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Abdullah Ibrahim</span>
        </div>
      </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <div class="card" id="card_one">
                
                    <img src="static/images/abd.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title" style="text-align: center;">Hi! I'm Abdullah Ibrahim</h5>
                      <p class="card-text" style="text-align: center;">I love creating coding, learning and creating projects.</p>
                    </div>
                  </div>
                </div>
            <div class="col-lg-8">
                <div class="card" id="card_two">
                
                    <div class="card-body">
                      <h5 class="card-title" style="text-align: center;">My Second Project</h5>
                      <p class="card-text" >I'm creating this portfolio website to test my skills. For the past 2 months I have been learning Web development. I have decided to make this website as it is simple and is a good starting point for me</p>
                      <p class="card-text">amet consectetur adipisicing elit. Eveniet maxime obcaecati dolor veritatis repellat sunt voluptatum deleniti error? Consequatur assumenda dolorem velit cum, ullam unde voluptates itaque iure corrupti explicabo.</p>
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore est facilis ea exercitationem in laborum aperiam ullam aliquam pariatur soluta repudiandae quos dolor voluptates veniam odio dolore numquam, cumque obcaecati.</p>
                      <a class="btn text-white" data-mdb-ripple-init style="background-color: #ac2bac;" href="https://www.instagram.com/abdullah.ibrahim__?igsh=cDY2amo1d2FwY3h3" role="button">
                        <i class="fab fa-instagram"></i>
                      </a>
                      <a class="btn text-white" data-mdb-ripple-init style="background-color: #0082ca;" href="https://www.linkedin.com/in/abdullah-ibrahim-157522269?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BgapEP5yHSQeJ2ZtT0x8SCw%3D%3D" role="button">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                      <a class="btn text-white" data-mdb-ripple-init style="background-color: #333333;" href="https://github.com/Abdullah374" role="button">
                        <i class="fab fa-github"></i>
                        </a>
                    </div>
                    
            </div>
            </div>
            
        </div>
        <br>
        <br>

        <div class="row">
            <div class="col-md-6">
                <div class="card" id="about">
                    <div class="card-body">
                      <h5 class="card-title">What I Know</h5>
                      <p class="card-text">Python, HTML, CSS, DJANGO, FLASK, JINJA, JAVA, JAVASCRIPT, C, C++, BOOTSTRAP (Framework), MYSQL, JQUERY</p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo cumque, neque dolores iure laboriosam, consequuntur at optio natus repellendus in sapiente ipsum voluptatum nulla nesciunt doloremque, animi magni architecto suscipit!</p>                
                    </div>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="card" id="card_three">
                    <div class="card-body">
                      <h5 class="card-title">My experience</h5>
                      <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima quia totam vitae illo sunt deserunt similique commodi obcaecati, voluptate itaque corrupti impedit laboriosam repellat assumenda! Illum impedit ducimus eveniet delectus
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quisquam accusantium inventore tenetur mollitia atque maxime. Odit quae fuga adipisci exercitationem quis saepe cupiditate, vel nemo autem! Sit, expedita quas.
                      </p>
                    </div>
                  </div>
            </div>
        </div>
    
    </div>


        
          
    
</body>
</html>